<div class="container" *appCustomLoading="loading()">
  @if (equipment()) {
    <h1>{{ equipment()?.name }}</h1>

    <div class="main-data">
      <p class="small">
        <i class="pi pi-hashtag" pTooltip="Serial number" tooltipPosition="top"></i>
        {{ equipment()?.serialNumber }}
      </p>
      <p class="small">
        <i class="pi pi-calendar-clock" pTooltip="Max loan days" tooltipPosition="top"></i>
        {{ equipment()?.maxLoanDays }}
      </p>
      <p class="small">
        <i class="pi pi-map-marker" pTooltip="Location" tooltipPosition="top"></i>
        {{ equipment()?.location?.name }}
      </p>
      <p class="small">
        <i class="pi pi-spinner-dotted" pTooltip="Status" tooltipPosition="top"></i>
        {{ equipment()?.status?.name }}
      </p>
      <p class="small">
        <i class="pi pi-tags" pTooltip="Type" tooltipPosition="top"></i>
        {{ equipment()?.type?.name }}
      </p>
    </div>
    <p-divider />

    <div class="main-section">
      <div class="left">
        <p>{{ equipment()?.specification }}</p>
      </div>

      <p-divider layout="vertical" />

      <div class="right">
        @if (reservation()) {
          <div class="reservation">
            @if (reservation()?.user?.id === authService.currentUser()?.id) {
              <div class="by-me">
                <p>This equipment was reserved by you!</p>
                <p>From {{ reservation()?.startDate | date : 'dd-MM-yyyy' }}
                  to {{ reservation()?.endDate | date : 'dd-MM-yyyy' }}.</p>
                <p>Please, return in time!</p>
              </div>
            } @else {
              <div class="by-user">
                <p>This equipment was reserved by {{ reservation()?.user?.fullName }}!</p>
                <p>From {{ reservation()?.startDate | date : 'dd-MM-yyyy' }}
                  to {{ reservation()?.endDate | date : 'dd-MM-yyyy' }}.</p>
                <p>You can reserve it after <span
                  class="underline">{{ reservation()?.endDate | date : 'dd-MM-yyyy' }}</span>!</p>
              </div>
            }
          </div>
        }

        <p-datepicker
          [(ngModel)]="selectedDates"
          selectionMode="range"
          [inline]="true"
          [showWeek]="true"
          [minDate]="today"
          [maxDate]="dynamicMaxDate()"
          [disabledDates]="disabledDates()"
          (onSelect)="onDateSelect()"
        />

        <p class="days-count">
          @if (selectedDaysCount > 0) {
            {{ selectedDaysCount }} day{{ selectedDaysCount === 1 ? '' : 's' }} selected
          } @else {
            Select a date range
          }
        </p>

        <p-button [disabled]="!selectedDates[1]" class="reserve-btn" label="Reserve"
                  severity="success"
                  size="large" (onClick)="reserve()" />

<!--        @if (reservation()?.user?.id === authService.currentUser()?.id && reservation()) {-->
<!--          <p-button-->
<!--            class="return-btn"-->
<!--            label="Return"-->
<!--            severity="info"-->
<!--            size="large"-->
<!--            (onClick)="complete(reservation())" />-->
<!--        }-->

      </div>
    </div>

    <p-divider />
    <p-accordion value="-1">
      <p-accordion-panel [value]="-1">
        <p-accordion-header>Active reservations</p-accordion-header>
        <p-accordion-content>
          <p-table [value]="activeReservations()" size="small" [loading]="loading()">
            <ng-template #header>
              <tr>
                <th>From</th>
                <th>TO</th>
                <th>Reserved By</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template #body let-reservation>
              <tr>
                <td>{{ reservation.startDate | date : 'dd-MM-yyyy' }}</td>
                <td>{{ reservation.endDate | date : 'dd-MM-yyyy' }}</td>
                <td>{{ reservation.user.fullName }}</td>
                <td>
                  @if (reservation.user.id === authService.currentUser()?.id) {
                    @if (reservation.startDate | isReservationStarted) {
                      <p-button
                        class="reserve-btn"
                        label="Return"
                        severity="info"
                        size="large"
                        (onClick)="complete(reservation)" />
                    } @else {
                      <p-button
                        class="reserve-btn"
                        label="Cancel"
                        severity="primary"
                        size="large"
                        (onClick)="cancel(reservation)" />
                    }
                  }
                </td>
              </tr>
            </ng-template>
            <ng-template #emptymessage>
              <tr>
                <td class="empty-row" colspan="8">No data.</td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>

    <p-divider />

    <p-accordion value="-1">
      <p-accordion-panel [value]="-1">
        <p-accordion-header>History</p-accordion-header>
        <p-accordion-content>
          <p-table [value]="equipment()?.defects ?? []" size="small" [loading]="loading()">
            <ng-template #header>
              <tr>
                <th>Defect comment</th>
                <th>When</th>
                <th>Made by</th>
              </tr>
            </ng-template>
            <ng-template #body let-defect>
              <tr>
                <td>{{ defect.comment }}</td>
                <td>{{ defect.reservation.completedAt | date : 'dd-MM-yyyy' }}</td>
                <td>{{ defect.user.firstName + ' ' + defect.user.lastName }}</td>
              </tr>
            </ng-template>
            <ng-template #emptymessage>
              <tr>
                <td class="empty-row" colspan="8">No data.</td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  }
</div>
