@use "../../styles/variables" as *;

:host {
  display: block;
  width: 100%;
}

.dropdown {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 4px;
    font-size: 14px;

    &.error {
      color: $error;
    }
  }

  p-select {
    width: 100%;
  }

  .error-text {
    color: $error;
    font-size: 12px;
  }
}